:root{
	--bg-color: #020312;
	--text-color: #fff;
	--main-color: #0fd423;
	--second-color: gray;
	--other-color: #12141c;
	--h1-font: 5.2rem;
	--h2-font: 3rem;
	--p-font: 1.1rem;
}

.main-text{
    font-family: Arial, Helvetica, sans-serif;
    color:#fff;
	text-align: center;
}
.main-text h2{
    color:#fff;
	font-size: var(--h2-font);
	margin-bottom: 10px;
}
.main-text h4{
	color:#fff;
	font-size: 24px;
	font-weight: 600;
}

.services-content{
    color:#fff;
	display: grid;
	grid-template-columns: repeat(auto-fit);
	align-items: center;
	text-align: center;
	gap: 2rem;
	margin-top: 5rem;
}

.text-experience h3{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 2rme;
	font-weight: 600;
	margin: 15px 0;
}

.text-experience {
	text-align: center;
	text-decoration: none;
	color: #fff;
}

.graphisme {
    text-decoration: none;
    color: #fff;
}

.siteweb {
    text-decoration: none;
    color: #fff;
} 

button {
    text-decoration: none;
    border: none;
    background: #12141c;
    color: #fff;

}

.box{
    margin: 0 50px;
	padding: 45px;
	background: #12141c;
	border-top: 5px solid transparent;
	border-radius: 0.5rem;
	transition: all .40s ease;
	cursor: pointer;
}
.box h3{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: 600;
	margin: 15px 0;
	transition: all .40s ease;
}
.box p{
    font-family: Arial, Helvetica, sans-serif;
	color: var(--second-color);
	font-size: var(--p-font);
	line-height: 30px;
}
.box:hover{
    position: relative;
	transform: scale(1.01) translateY(-5px);
	border-top: 5px solid var(--main-color);
}
.box:hover h3{
	color: var(--main-color);
}