.container
{
    /* position:relative;
    display: grid;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1; */

    color:#fff;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
    align-items: center;
    text-align: center;
    gap: 2rem;
    margin-top: 5rem;
}

/* Kideobot */

.container .card-Kideo
{
    position: relative;
    width:  380px;
    height: 400px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgb(0, 0,0, 0.5);
    border-radius: 15px;
    background: rgb(255, 255, 255, 0.1 );
    overflow: hidden;
    display: flex;
    justify-content: center ;
    align-items: center;
    border-top: 1px solid rgb(255, 255, 255, 0.5 );
    border-left: 1px solid rgb(255, 255, 255, 0.5 );
    backdrop-filter: blur(5px) ;
}
.container .card-Kideo .content-Kideo
{
    padding: 20%;
    text-align: center;
}
.container .card-Kideo .content-Kideo img
{
    margin-top: -36px;
    height: 300px;
    width: 300px;
}
.container .card-Kideo:hover
{
    background: linear-gradient(-49deg, #ffffff8c 0%, #ffffff6d 100%);
}
.container .card-Kideo .content-Kideo h2
{
    position: absolute;
    top: auto;
    right: 0px;
    font-size: 5em;
    color: rgb(255, 255, 255, 0.05 );
    pointer-events: none;
}
.container .card-Kideo .content-Kideo:hover h2
{
    display: none;
}
.container .card-Kideo .content-Kideo a
{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 25px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgb(0, 0,0, 0.2);

}

/* logomc */

.container .card-logomc
{
    position: relative;
    height: 380px;
    box-shadow: 20px 20px 50px rgb(0, 0,0, 0.5);
    border-radius: 15px;
    background: rgb(255, 255, 255, 0.1 );
    overflow: hidden;
    display: flex;
    justify-content: center ;
    align-items: center;
    border-top: 1px solid rgb(255, 255, 255, 0.5 );
    border-left: 1px solid rgb(255, 255, 255, 0.5 );
    backdrop-filter: blur(5px) ;
}
.container .card-logomc .content-logomc
{
    padding: 20%;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}
.container .card-logomc .content-logomc img
{
    height: 300px;
    width: 300px;
}
.container .card-logomc:hover .content-logomc
{
    transform: translateY(0px);
    opacity: 1;
}
.container .card-logomc .content-logomc h2
{
    position: absolute;
    top: -30px;
    right: 30px;
    font-size: 8em;
    color: rgb(255, 255, 255, 0.05 );
    pointer-events: none;
}
.container .card-logomc .content-logomc h3
{
    font-size: 1.8rem;
    color: #fff;
    z-index: 1;
}
.container .card-logomc .content-logomc p
{
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}
.container .card-logomc .content-logomc a
{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgb(0, 0,0, 0.2);

}

/* Logo Etna */

.container .card-logoEtna
{
    position: relative;
    height: 380px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgb(0, 0,0, 0.5);
    border-radius: 15px;
    background: rgb(255, 255, 255, 0.1 );
    overflow: hidden;
    display: flex;
    justify-content: center ;
    align-items: center;
    border-top: 1px solid rgb(255, 255, 255, 0.5 );
    border-left: 1px solid rgb(255, 255, 255, 0.5 );
    backdrop-filter: blur(5px) ;
}
.container .card-logoEtna .content-logoEtna
{
    padding: 20%;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}
.container .card-logoEtna .content-logoEtna img
{
    height: 300px;
    width: 300px;
}
.container .card--logoEtna:hover .content-logoEtna
{
    transform: translateY(0px);
    opacity: 1;
}
.container .card-logoEtna .content-logoEtna h2
{
    position: absolute;
    top: -30px;
    right: 30px;
    font-size: 8em;
    color: rgb(255, 255, 255, 0.05 );
    pointer-events: none;
}
.container .card-logoEtna .content-logoEtna h3
{
    font-size: 1.8rem;
    color: #fff;
    z-index: 1;
}
.container .card-logoEtna .content-logoEtna p
{
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}
.container .card-logoEtna .content-logoEtna a
{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgb(0, 0,0, 0.2);

}


.container-moncv
{
    color:#fff;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
    align-items: center;
    text-align: center;
    gap: 2rem;
    margin-top: 5rem;
}

/* Kideobot */

.container-moncv .card
{
    position: relative;
    width:  650px;
    height: 275px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgb(0, 0,0, 0.5);
    border-radius: 15px;
    background: rgb(255, 255, 255, 0.1 );
    overflow: hidden;
    display: flex;
    justify-content: center ;
    align-items: center;
    border-top: 1px solid rgb(255, 255, 255, 0.5 );
    border-left: 1px solid rgb(255, 255, 255, 0.5 );
    backdrop-filter: blur(5px) ;
}
.container-moncv .card .content
{
    padding: 20%;
    text-align: center;
}

.container-moncv .card:hover
{
    background: linear-gradient(-49deg, #ffffff8c 0%, #ffffff6d 100%);
}
.container-moncv .card .content h2
{
    top: auto;
    right: 0px;
    font-size: 1em;
    color: rgb(255, 255, 255);
    pointer-events: none;
}

.container-moncv .card .content p
{
    top: auto;
    right: 0px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    pointer-events: none;
}