@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*
{   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}


/* box */


.container
{
    /* position:relative;
    display: grid;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1; */
    
    /* color:#fff;
	display: flex;
	grid-template-columns: repeat(auto-fit, minmax(400px, auto));
	align-items: center;
	text-align: center;
	gap: 2rem;
	margin-top: 5rem; */

    display: flex;
    width: calc(450px * 18);
    justify-content: flex-end;
    align-items: center;
    animation: scroll 40s linear infinite;
}

.container:hover {
    animation-play-state: paused;
}


.container .card:hover {
    transform: scale(1.1);
    transition: all 0.3s  linear ;
}

.container .card
{
    transition: transform .1s; /* Animation */
    height: 500px;
    position: relative;
    margin: 30px;
    box-shadow: 20px 20px 50px rgb(0, 0,0, 0.5);
    border-radius: 15px;
    background: rgb(255, 255, 255, 0.1 );
    overflow: hidden;
    display: flex;
    justify-content: center ;
    align-items: center;
    border-top: 1px solid rgb(255, 255, 255, 0.5 ); 
    border-left: 1px solid rgb(255, 255, 255, 0.5 ); 
    backdrop-filter: blur(5px) ;
}
.container .card .content
{
    text-align: center;
}
.container .card .content img
{
    height: 300px;
    width: 300px;
}
.container .card:hover
{
    background: linear-gradient(-49deg, #ffffff41 0%, #ffffff28 100%);
}
.container .card .content h2 
{
    position: absolute;
    top: auto;
    right: 0px;
    font-size: 5em;
    color: rgb(255, 255, 255, 0.05 );
    pointer-events: none;
}
.container .card .content:hover h2 
{
   display: none;
}
.container .card .content a
{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 25px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgb(0, 0,0, 0.2);
}


@keyframes scroll {
    0% {
        transform:  translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 16));
    }
}



/* box */


.container-siteweb
{
    color:#fff;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, auto));
	align-items: center;
	text-align: center;
	gap: 2rem;
	margin-top: 5rem;
}

.container-siteweb .card-siteweb:hover {
    transform: scale(1.1);
    transition: all 0.3s  linear ;
}


.container-siteweb .card-siteweb
{
    transition: transform .1s; /* Animation */
    width: 400px;
    height: 450px;
    position: relative;
    margin: 30px;
    box-shadow: 20px 20px 50px rgb(0, 0,0, 0.5);
    border-radius: 15px;
    background: rgb(255, 255, 255, 0.1 );
    overflow: hidden;
    display: flex;
    justify-content: center ;
    align-items: center;
    border-top: 1px solid rgb(255, 255, 255, 0.5 ); 
    border-left: 1px solid rgb(255, 255, 255, 0.5 ); 
    backdrop-filter: blur(5px) ;
}
.container-siteweb .card-siteweb .content-siteweb
{
    text-align: center;
}
.container-siteweb .card-siteweb .content-siteweb img
{
    display: flexbox;
    height: 300px;
    width: 300px;
}
.container-siteweb .card-siteweb:hover
{
    background: linear-gradient(-49deg, #ffffff41 0%, #ffffff28 100%);
}
.container-siteweb .card-siteweb .content-siteweb h2 
{
    position: absolute;
    top: auto;
    right: 0px;
    font-size: 5em;
    color: rgb(255, 255, 255, 0.05 );
    pointer-events: none;
}
.container-siteweb .card-siteweb .content-siteweb:hover h2 
{
   display: none;
}
.container-siteweb .card-siteweb .content-siteweb a
{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 25px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgb(0, 0,0, 0.2);
}


