:root{
	--bg-color: #020312;
	--text-color: #fff;
	--main-color: #fff;
	--second-color: gray;
	--other-color: #12141c;
	--h1-font: 5.2rem;
	--h2-font: 3rem;
	--p-font: 1.1rem;
}

.main-text{
    font-family: Arial, Helvetica, sans-serif;
    color:#fff;
	text-align: center;
}
.main-text h2{
    color:#fff;
	font-size: var(--h2-font);
	margin-bottom: 10px;
}
.main-text h4{
	color:#fff;
	font-size: 24px;
	font-weight: 600;
}

.services-content{
    color:#fff;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, auto));
	align-items: center;
	text-align: center;
	gap: 2rem;
	margin-top: 5rem;
}

.text-experience h3{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 2rme;
	font-weight: 600;
	margin: 15px 0;
}

.text-experience {
	text-align: center;
	text-decoration: none;
	color: #fff;
}

.graphisme {
    text-decoration: none;
    color: #fff;
}

.siteweb {
    text-decoration: none;
    color: #fff;
} 


.box-img-logomc img{
	height: 250px ;
	width : 250px ;
	border-radius: 0.5rem;
}

.box-img-logomc {
	background: #28adff;
	box-shadow: 0 1px 20px 0 #28adff;
	backdrop-filter: blur( 4px );
	-webkit-backdrop-filter: blur( 4px );
}

.box-img-logomc {
    margin: 0;
	padding: 45px;
	background: #28adff;
	border-top: 5px solid transparent;
	border-radius: 0.5rem;
	transition: all .40s ease;
	cursor: pointer;
}

.box-img-logomc h3{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: 600;
	margin: 15px 0;
	transition: all .40s ease;
}
.box-img-logomc p{
    font-family: Arial, Helvetica, sans-serif;
	color: var(--second-color);
	font-size: var(--p-font);
	line-height: 30px;
}
.box-img-logomc:hover{
	background: #28adff;
	box-shadow: 0 0px 0px 0 #28adff;
	backdrop-filter: blur( 0px );
	-webkit-backdrop-filter: blur( 0px );
    position: relative;
	transform: scale(1.01) translateY(-5px);
	border-top: 5px solid var(--main-color);
}
.box-img-logomc:hover h3{
	color:#fff;
}

.box-img-kideobot img {
		height: 250px ;
		width : 250px ;
		border-radius: 0.5rem;
}

.box-img-kideobot {
background: #ff7c00;
box-shadow: 0 1px 20px 0 #ff7c00;
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
}

.box-img-kideobot{
    margin: 0;
	padding: 45px;
	background: #ff7c00;
	border-top: 5px solid transparent;
	border-radius: 0.5rem;
	transition: all .40s ease;
	cursor: pointer;
}
.box-img-kideobot h3{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: 600;
	margin: 15px 0;
	transition: all .40s ease;
}
.box-img-kideobot p{
    font-family: Arial, Helvetica, sans-serif;
	color: var(--second-color);
	font-size: var(--p-font);
	line-height: 30px;
}
.box-img-kideobot:hover{
	background: #ff7c00;
	box-shadow: 0 0px 0px 0 #ff7c00;
	backdrop-filter: blur( 0px );
	-webkit-backdrop-filter: blur( 0px );
    position: relative;
	transform: scale(1.01) translateY(-5px);
	border-top: 5px solid var(--main-color);
}
.box-img-kideobot:hover h3{
	color:#fff;
}