:root{
	--bg-color: #020312;
	--text-color: #fff;
	--main-color: #fff;
	--second-color: gray;
	--other-color: #12141c;
	--h1-font: 5.2rem;
	--h2-font: 3rem;
	--p-font: 1.1rem;
}

.main-text{
    font-family: Arial, Helvetica, sans-serif;
    color:#fff;
	text-align: center;
}
.main-text h2{
    color:#fff;
	font-size: var(--h2-font);
	margin-bottom: 10px;
}
.main-text h4{
	color:#fff;
	font-size: 24px;
	font-weight: 600;
}

.services-content{
    color:#fff;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, auto));
	align-items: center;
	text-align: center;
	gap: 2rem;
	margin-top: 5rem;
}

.text-experience h3{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 2rme;
	font-weight: 600;
	margin: 15px 0;
}

.text-experience {
	text-align: center;
	text-decoration: none;
	color: #fff;
}

.graphisme {
    text-decoration: none;
    color: #fff;
}

.siteweb {
    text-decoration: none;
    color: #fff;
} 

/* logo minecraft */

.box-common {
	height: 380px;
}

.box-img-logomc button {
    border: none;
    background: #28adff;
}

.box-img-logomc a{
	text-decoration: none;
	color: #fff;
}


.box-img-logomc img{
	height: 250px ;
	width : 250px ;
	border-radius: 0.5rem;
}

.box-img-logomc {
	background: #28adff;
	box-shadow: 0 1px 20px 0 #28adff;
	backdrop-filter: blur( 4px );
	-webkit-backdrop-filter: blur( 4px );
}

.box-img-logomc {
    margin: 0;
	padding: 45px;
	background: #28adff;
	border-top: 5px solid transparent;
	border-radius: 0.5rem;
	transition: all .40s ease;
	cursor: pointer;
}

.box-img-logomc h3{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: 600;
	margin: 15px 0;
	transition: all .40s ease;
}
.box-img-logomc p{
    font-family: Arial, Helvetica, sans-serif;
	color: var(--second-color);
	font-size: var(--p-font);
	line-height: 30px;
}
.box-img-logomc:hover{
	background: #28adff;
	box-shadow: 0 0px 0px 0 #28adff;
	backdrop-filter: blur( 0px );
	-webkit-backdrop-filter: blur( 0px );
    position: relative;
	transform: scale(1.01) translateY(-5px);
	border-top: 5px solid var(--main-color);
}
.box-img-logomc:hover h3{
	color:#fff;
}

/* Kideo bot */



.box-img-kideobot button {
    border: none;
    background: #ff7c00;
}

.box-img-kideobot a{
	text-decoration: none;
	color: #fff;
}

.box-img-kideobot img {
	height: 250px ;
	width : 250px ;
	border-radius: 0.5rem;
}

.box-img-kideobot {
	background: rgba( 0, 123, 255, 0.2 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 7.5px );
	-webkit-backdrop-filter: blur( 7.5px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
	}

/* .box-img-kideobot {
	background: #ff7c00;
	box-shadow: 0 1px 20px 0 #ff7c00;
	backdrop-filter: blur( 4px );
	-webkit-backdrop-filter: blur( 4px );
}

.box-img-kideobot{
    margin: 0;
	padding: 45px;
	background: #ff7c00;
	border-top: 5px solid transparent;
	border-radius: 0.5rem;
	transition: all .40s ease;
	cursor: pointer;
} */
.box-img-kideobot h3{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: 600;
	margin: 15px 0;
	transition: all .40s ease;
}
.box-img-kideobot p{
    font-family: Arial, Helvetica, sans-serif;
	color: var(--second-color);
	font-size: var(--p-font);
	line-height: 30px;
}
/* .box-img-kideobot:hover{
	background: #ff7c00;
	box-shadow: 0 0px 0px 0 #ff7c00;
	backdrop-filter: blur( 0px );
	-webkit-backdrop-filter: blur( 0px );
    position: relative;
	transform: scale(1.01) translateY(-5px);
	border-top: 5px solid var(--main-color);
}
.box-img-kideobot:hover h3{
	color:#fff;
} */

/* asset arty */

.box-img-assettwitcharty button {
    border: none;
    background: #101024;
}

.box-img-assettwitcharty a{
	text-decoration: none;
	color: #fff;
}

.box-img-assettwitcharty img {
	height: 225px ;
	width : 300px ;
	border-radius: 0.5rem;
}

.box-img-assettwitcharty {
	background: #3131b3;
	box-shadow: 0 1px 20px 0 #3030a1;
	backdrop-filter: blur( 4px );
	-webkit-backdrop-filter: blur( 4px );
}

.box-img-assettwitcharty{
    margin: 0;
	padding: 45px;
	background: #101024;
	border-top: 5px solid transparent;
	border-radius: 0.5rem;
	transition: all .40s ease;
	cursor: pointer;
}
.box-img-assettwitcharty h3{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: 600;
	margin: 15px 0;
	transition: all .40s ease;
}
.box-img-assettwitcharty p{
    font-family: Arial, Helvetica, sans-serif;
	color: var(--second-color);
	font-size: var(--p-font);
	line-height: 30px;
}
.box-img-assettwitcharty:hover{
	background: #101024;
	box-shadow: 0 0px 0px 0 #101024;
	backdrop-filter: blur( 0px );
	-webkit-backdrop-filter: blur( 0px );
    position: relative;
	transform: scale(1.01) translateY(-5px);
	border-top: 5px solid var(--main-color);
}
.box-img-assettwitcharty:hover h3{
	color:#fff;
}

/* box-img-etnalogo */

.box-img-etnalogo button {
    border: none;
    background: #0f0f0f;
}

.box-img-etnalogo a{
	text-decoration: none;
	color: #fff;
}

.box-img-etnalogo img {
	height: 225px ;
	width : 300px ;
	border-radius: 0.5rem;
}

.box-img-etnalogo {
	background: #303030;
	box-shadow: 0 1px 20px 0 #414141;
	backdrop-filter: blur( 4px );
	-webkit-backdrop-filter: blur( 4px );
}

.box-img-etnalogo{
    margin: 0;
	padding: 45px;
	background: #0f0f0f;
	border-top: 5px solid transparent;
	border-radius: 0.5rem;
	transition: all .40s ease;
	cursor: pointer;
}
.box-img-etnalogo h3{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: 600;
	margin: 15px 0;
	transition: all .40s ease;
}
.box-img-etnalogo p{
    font-family: Arial, Helvetica, sans-serif;
	color: var(--second-color);
	font-size: var(--p-font);
	line-height: 30px;
}
.box-img-etnalogo:hover{
	box-shadow: 0 0px 0px 0 #1d1c1c;
	backdrop-filter: blur( 0px );
	-webkit-backdrop-filter: blur( 0px );
    position: relative;
	transform: scale(1.01) translateY(-5px);
	border-top: 5px solid var(--main-color);
}
.box-img-etnalogo:hover h3{
	color:#fff;
}

/* LOGO KRONOS */

.box-img-kronoslogo img {
	height: 250px ;
	width : 250px ;
	border-radius: 0.7rem;
}

.box-img-kronoslogo {
	background: #854397;
	box-shadow: 0 1px 20px 0 #854397;
	backdrop-filter: blur( 4px );
	-webkit-backdrop-filter: blur( 4px );
}

.box-img-kronoslogo{
    margin: 0;
	padding: 45px;
	background: #26142b;
	border-top: 5px solid transparent;
	border-radius: 0.5rem;
	transition: all .40s ease;
	cursor: pointer;
}
.box-img-kronoslogo h3{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: 600;
	margin: 15px 0;
	transition: all .40s ease;
}
.box-img-kronoslogo p{
    font-family: Arial, Helvetica, sans-serif;
	color: var(--second-color);
	font-size: var(--p-font);
	line-height: 30px;
}
.box-img-kronoslogo:hover{
	box-shadow: 0 0px 0px 0 #1d1c1c;
	backdrop-filter: blur( 0px );
	-webkit-backdrop-filter: blur( 0px );
    position: relative;
	transform: scale(1.01) translateY(-5px);
	border-top: 5px solid var(--main-color);
}
.box-img-kronoslogo:hover h3{
	color:#fff;
}

/* CustomJBL */

.box-img-CustomJBL button {
    border: none;
    background: #28190a;
}

.box-img-CustomJBL a{
	text-decoration: none;
	color: #fff;
}

.box-img-CustomJBL img {
	height: 250px ;
	width : 200px ;
	border-radius: 0.7rem;
}

.box-img-CustomJBL {
	background: #885420;
	box-shadow: 0 1px 20px 0 #885420;
	backdrop-filter: blur( 4px );
	-webkit-backdrop-filter: blur( 4px );
}

.box-img-CustomJBL{
    margin: 0;
	padding: 45px;
	background: #28190a;
	border-top: 5px solid transparent;
	border-radius: 0.5rem;
	transition: all .40s ease;
	cursor: pointer;
}
.box-img-CustomJBL h3{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: 600;
	margin: 15px 0;
	transition: all .40s ease;
}
.box-img-CustomJBL p{
    font-family: Arial, Helvetica, sans-serif;
	color: var(--second-color);
	font-size: var(--p-font);
	line-height: 30px;
}
.box-img-CustomJBL:hover{
	box-shadow: 0 0px 0px 0 #1d1c1c;
	backdrop-filter: blur( 0px );
	-webkit-backdrop-filter: blur( 0px );
    position: relative;
	transform: scale(1.01) translateY(-5px);
	border-top: 5px solid var(--main-color);
}
.box-img-CustomJBL:hover h3{
	color:#fff;
}

/* doodle */

.box-img-doodle button {
    border: none;
    background: #228afd;
}

.box-img-doodle a{
	text-decoration: none;
	color: #fff;
}

.box-img-doodle img {
	height: 250px ;
	width : 200px ;
	border-radius: 0.7rem;
}

.box-img-doodle {
	background: #228afd;
	box-shadow: 0 1px 20px 0 #5fbcd1;
	backdrop-filter: blur( 4px );
	-webkit-backdrop-filter: blur( 4px );
}

.box-img-doodle{
    margin: 0;
	padding: 45px;
	background: #228afd;
	border-top: 5px solid transparent;
	border-radius: 0.5rem;
	transition: all .40s ease;
	cursor: pointer;
}
.box-img-doodle h3{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: 600;
	margin: 15px 0;
	transition: all .40s ease;
}
.box-img-doodle p{
    font-family: Arial, Helvetica, sans-serif;
	color: var(--second-color);
	font-size: var(--p-font);
	line-height: 30px;
}
.box-img-doodle:hover{
	box-shadow: 0 0px 0px 0 #1d1c1c;
	backdrop-filter: blur( 0px );
	-webkit-backdrop-filter: blur( 0px );
    position: relative;
	transform: scale(1.01) translateY(-5px);
	border-top: 5px solid var(--main-color);
}
.box-img-doodle:hover h3{
	color:#fff;
}

/* perso minecraft */

.box-img-PersoMc button {
    border: none;
    background: #2d3039;
}

.box-img-PersoMc a{
	text-decoration: none;
	color: #fff;
}

.box-img-PersoMc img {
	height: 225px ;
	width : 300px ;
	border-radius: 0.7rem;
}

.box-img-PersoMc {
	background: #000000;
	box-shadow: 0 1px 20px 0 #5f677a;
	backdrop-filter: blur( 4px );
	-webkit-backdrop-filter: blur( 4px );
}

.box-img-PersoMc{
    margin: 0;
	padding: 45px;
	background: #2d3039;
	border-top: 5px solid transparent;
	border-radius: 0.5rem;
	transition: all .40s ease;
	cursor: pointer;
}
.box-img-PersoMc h3{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: 600;
	margin: 15px 0;
	transition: all .40s ease;
}
.box-img-PersoMc p{
    font-family: Arial, Helvetica, sans-serif;
	color: var(--second-color);
	font-size: var(--p-font);
	line-height: 30px;
}
.box-img-PersoMc:hover{
	box-shadow: 0 0px 0px 0 #1d1c1c;
	backdrop-filter: blur( 0px );
	-webkit-backdrop-filter: blur( 0px );
    position: relative;
	transform: scale(1.01) translateY(-5px);
	border-top: 5px solid var(--main-color);
}
.box-img-PersoMc:hover h3{
	color:#fff;
}

/* DeltaOne */

.box-img-DeltaOne button {
    border: none;
    background: #0e043d;
}

.box-img-DeltaOne a{
	text-decoration: none;
	color: #fff;
}

.box-img-DeltaOne img {
	height: 100% ;
	width : 100% ;
	border-radius: 0.7rem;
}

.box-img-DeltaOne {
	background: #000000;
	box-shadow: 0 1px 20px 0 #2b0eaf;
	backdrop-filter: blur( 4px );
	-webkit-backdrop-filter: blur( 4px );
}

.box-img-DeltaOne{
    margin: 0;
	padding: 45px;
	background: #0e043d;
	border-top: 5px solid transparent;
	border-radius: 0.5rem;
	transition: all .40s ease;
	cursor: pointer;
}
.box-img-DeltaOne h3{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: 600;
	margin: 15px 0;
	transition: all .40s ease;
}
.box-img-DeltaOne p{
    font-family: Arial, Helvetica, sans-serif;
	color: var(--second-color);
	font-size: var(--p-font);
	line-height: 30px;
}
.box-img-DeltaOne:hover{
	box-shadow: 0 0px 0px 0 #1d1c1c;
	backdrop-filter: blur( 0px );
	-webkit-backdrop-filter: blur( 0px );
    position: relative;
	transform: scale(1.01) translateY(-5px);
	border-top: 5px solid var(--main-color);
}
.box-img-DeltaOne:hover h3{
	color:#fff;
}

/* MonPortFolio */

.box-img-PortFolio button {
    border: none;
    background: #0f0f0f;
}

.box-img-PortFolio a{
	text-decoration: none;
	color: #fff;
}

.box-img-PortFolio img {
	height: 100% ;
	width : 100% ;
	border-radius: 0.7rem;
}

.box-img-PortFolio {
	background: #313131;
	box-shadow: 0 1px 20px 0 #313131;
	backdrop-filter: blur( 4px );
	-webkit-backdrop-filter: blur( 4px );
}

.box-img-PortFolio{
    margin: 0;
	padding: 45px;
	background: #0f0f0f;
	border-top: 5px solid transparent;
	border-radius: 0.5rem;
	transition: all .40s ease;
	cursor: pointer;
}
.box-img-PortFolio h3{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: 600;
	margin: 15px 0;
	transition: all .40s ease;
}
.box-img-PortFolio p{
    font-family: Arial, Helvetica, sans-serif;
	color: var(--second-color);
	font-size: var(--p-font);
	line-height: 30px;
}
.box-img-PortFolio:hover{
	box-shadow: 0 0px 0px 0 #1d1c1c;
	backdrop-filter: blur( 0px );
	-webkit-backdrop-filter: blur( 0px );
    position: relative;
	transform: scale(1.01) translateY(-5px);
	border-top: 5px solid var(--main-color);
}
.box-img-PortFolio:hover h3{
	color:#fff;
}

