@media screen and (max-width: 801px) {
    #moon1 {
        display: none;
    }

}

@media screen and (max-width: 1366px) {

    .container {
        display: grid;
        margin-top: 5%;
        min-width: 100%;

    }

    .evp {
        display: none;
    }
}

@media screen and (min-width: 500px) {

}