.btn {
    height:100px ;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 20px;
    bottom: 20px;
    cursor: pointer;
  }

  .icone {
    width: 75px ;
    transition: transform 0.4s;
  }
  
  .icone:hover {
    transform: translateY(-10px);
  }
  