*{
    padding:0;
}

/* html {
    overflow-y: hidden; 
    overflow-x: hidden;
}  */


body {
    background-repeat: no-repeat;
    background: rgb(131,58,180);
    min-height: 100vh;
    background: linear-gradient(270deg, rgba(131,58,180,1) 0%, rgba(126,29,253,1) 50%, rgba(69,217,252,1) 100%);
  }

/* header */

header {
        background-color: #000000;
        border-top: 1px solid #000000;
        backdrop-filter: blur(-105px) ;
        box-shadow: 0px 11px 31px 0px #000;
}


/* banner d'en haut */

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

/* titre de haut de page */

:root{
	--bg-color: #020312;
	--text-color: #fff;
	--main-color: #fff;
	--second-color: gray;
	--other-color: #12141c;
	--h1-font: 5.2rem;
	--h2-font: 3rem;
	--p-font: 1.1rem;
}

.main-text{
    font-family: Arial, Helvetica, sans-serif;
    color:#fff;
	text-align: center;
}
.main-text h2{
    color:#fff;
	font-size: var(--h2-font);
	margin-bottom: 10px;
	font-weight: 200;
}
.main-text h4{
	color:#fff;
	font-size: 24px;
	font-weight: 250;
}
 
.main-text span{
	font-weight: 500;
}

/* milieu de page */

.milieudepage {
    background-color: #0F0F0F;
    border-top: 1px solid #000000;
    backdrop-filter: blur(-105px) ;
    box-shadow: 50px -50px 40px -30px rgba(0,0,0,0), 0px -7px 11px -1px rgba(0,0,0,0.51);
}
     

/* footer */


.findetext a{
    color: #006fc4;
    font-weight: normal;
    text-decoration: none;
}

.findetext a:hover {
    color: #0b94fd;
    font-weight: bold;
}

.findetext a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.findetext p {
    margin-top: 50px;
    text-align: center;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.box .openclassroomsLink  {
	color: white;
	font-weight: bold;
}

/* ligne 1 */

.ligne {
    border-top: 3px solid #5a1dffff;
}


/* scroll Up */

.btn {
    height:100px ;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 20px;
    bottom: 20px;
    cursor: pointer;
  }

  .icone {
    width: 75px ;
    transition: transform 0.4s;
  }
  
  .icone:hover {
    transform: translateY(-10px);
  }

/* footer */

p {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    text-align: center;
}



