body {
    background-color: #000000 ;
}

.debutdepage {
    margin-left: 25px;
}

.debutdepage p {
    font-family: Arial, Helvetica, sans-serif;
    color: #0b94fd ;
    font-weight: bold;
    text-align: left;
}

.debutdepage span {
    font-family: Arial, Helvetica, sans-serif;
    color: #0b94fd ;
}

.debutdepage h1 {
    font-family: Arial, Helvetica, sans-serif;
}

.findetext a{
    color: #006fc4;
    font-weight: normal;
    text-decoration: none;
}

.findetext a:hover {
    color: #0b94fd;
    font-weight: bold;
}

.findetext a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.findetext p {
    margin-top: 200px;
    text-align: center;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.box .openclassroomsLink  {
	color: white;
	font-weight: bold;
}