*{
    padding:0;
}

/* html {
    overflow-y: hidden; 
    overflow-x: hidden;
}  */


body {
    background-repeat: no-repeat;
    background: rgb(131,58,180);
    background: linear-gradient(270deg, rgba(131,58,180,1) 0%, rgba(126,29,253,1) 50%, rgba(69,217,252,1) 100%);

  }

  @media screen {
    
body {
    background-repeat: no-repeat;
    background: rgb(131,58,180);
    background: linear-gradient(270deg, rgba(131,58,180,1) 0%, rgba(126,29,253,1) 50%, rgba(69,217,252,1) 100%);
    /* background-size: 450px; */
  }
  }



/* text h1 */

.debutdepage {
    margin-top: -925px;
    margin-left: 75px;
}

.debutdepage p {
    font-family: Arial, Helvetica, sans-serif;
    color: #0b94fd ;
    text-align: left;
    font-weight: normal;
}

.debutdepage span {
    font-family: Arial, Helvetica, sans-serif;
    color: #0b94fd ;
}

.debutdepage h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

.debutdepage {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

/* ligne 1 */

.ligne {
    border-top: 3px solid #5a1dffff;
}


/* section 1 */



.sec1 h1 {
    text-align: left;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.sec1 p {
    text-align: left;
    color: #fff;
    font-size: 30px;
}

.sec1 span {
    color: #0b94fd;
    font-weight: bold;
}

/* footer */

p {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    text-align: center;
}


@keyframes earth {
    
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-50px);
    }
    100%{
        transform: translateY(0px);
    }
}

@keyframes moon {
    
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-50px);
    }
    100%{
        transform: translateY(0px);
    }
}

@media (max-width:400px) {

    *{
        padding: 0px;
    }
    
    html {
        overflow-y: scroll; 
        overflow-x: scroll;
    } 

    nav{
        padding: 0;
        margin: 0 auto;
        text-align: center;
    }
    
    
    nav {
        padding: 0; margin: 0;
        text-align: center; /* centrer le texte */
    }
    
    nav a {
        text-decoration: none;
        
        color: #fff;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: normal;
        display: inline-block;
    }
    
    nav a:hover {
        color: #4687ff;
        transition: color 0.3s ease 0s;
    }
    
    
    nav li {
        display: flex;
        padding: 10px 10px;
        align-items: center;
        justify-content: center;
    }
    
    nav li {
        display: inline;
        list-style: none;
    }

    /* text */

    
    .debutdepage {
        margin-left: 25px;
    }
    
    .debutdepage p {
        font-family: Arial, Helvetica, sans-serif;
        color: #0b94fd ;
        font-weight: bold;
        text-align: left;
    }
    
    .debutdepage span {
        font-family: Arial, Helvetica, sans-serif;
        color: #0b94fd ;
    }
    
    .debutdepage h1 {
        font-family: Arial, Helvetica, sans-serif;
        color: #fff;
    }

    .moon {
        display: none;
    }

    .earth {
        display: none;
    }
}