@media only screen and (max-width: 962px) {


    html {
        overflow-x: hidden;
    }


    .home-titre h1 {
        font-size: 15px;
        margin: -100px;
        margin-top: -200px;
        text-align: center;

    }
    .arrow-down {
        margin-top: -25px;
    }

    .arrow-down-two {
        display: none;
    }

    /*    container */

    .card {
        margin-top: -225px;
        border: 2px solid #fff;
        width: 250px;
        height: 400px;
        border-radius: 10px;
        display: flex;

    }

    .card3,.card4,.card5,.card6 {
        display: none;
    }

    .card0:hover {
        width: 250px;
        height: 400px;
    }
    .card1:hover {
        width: 250px;
        height: 400px;
    }
    .card2:hover {
        width: 250px;
        height: 400px;
    }

    .moncv {
        height: 500px;
    }

    .esp-cv {
        display: flex;
        color: white;
    }

    .sec-cv {
        margin-top: -650px;
    }

    .footer1 {
        margin-top: -175px;
    }

    /*    en savoir plus */

    .evp {
        position: absolute;
        margin-top: -300px;
        margin-left: 175px;
    }

    .evp {
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
        color: white;
        font-weight: bold ;
    }

    .evp::before {
        content: '';
        position: absolute;
        background: #ffffff;
        height: 4px;
        width: 100%;
        left: 0;
        transition: .6s all;
        z-index: -1;
    }

    .evp:hover::before {
        height: 25px;
    }

    .evp:hover {
        color: black;
    }

}